.body {
    font: 15px "Montserrat", sans-serif;
    line-height: 1.8;
    font-size: 12px;
}
.margin {margin-bottom: 45px;
} 
.container-fluid {
    padding-top: 50px;
    padding-bottom: 50px;
}
.bg-1 {
    background-color: #00C851;
    color: #ffffff;
    padding-top: 100px;
    padding-bottom: 70px;
}
.bg-2 { 
    background-color: #ffffff; 
    color: #212121;
    max-width: 600px;
    }
.bg-3 { 
    background-color: #ffffff; 
    color: #555555;
    padding-bottom: 0px;
    max-width: 1000px;
    margin-bottom: 0px;
}
.bg-4 { 
    background-color: #ffffff; 
    color: #212121;
    max-width: 1000px;
    padding-top: 28px;
}
.bg-5 { 
    background-color: #eeeeee; 
    color: #212121;
    max-width: 1000px;
}
.bg-6 { 
    background-color: #ffffff; 
    color: #212121;
    max-width: 1000px;
    padding-bottom: 0px;
}
.bg-7 { 
    background-color: #ffffff; 
    color: #212121;
    max-width: 1000px;
    padding-top: 0px;
}
.bg-8 { 
    background-color: #2f2f2f;
    color: #ffffff;
    width: 100%;
    padding-bottom: 80px;
    padding-top: 80px;
}
.bg-9 { 
    background-color: #ffffff; 
    color: #212121;
    max-width: 950px;
}
.bg-10 { 
    background-color: #ffffff; 
    color: #212121;
    max-width: 1000px;
}
.d3-tip {
      line-height: 1;
      padding: 6px;
      background: rgba(0, 0, 0, 0.8);
      color: #fff;
      border-radius: 4px;
      font-size: 12px;
    }

    /* Creates a small triangle extender for the tooltip */
.d3-tip:after {
      box-sizing: border-box;
      display: inline;
      font-size: 10px;
      width: 100%;
      line-height: 1;
      color: rgba(0, 0, 0, 0.8);
      content: "\25BC";
      position: absolute;
      text-align: center;
    }

    /* Style northward tooltips specifically */
.d3-tip.n:after {
      margin: -2px 0 0 0;
      top: 100%;
      left: 0;
    }
.hovernode {     
  stroke:blue;
  stroke-width:5px;
}
#wrapper1 {
    position: relative;
    height: 60%;
    width: 100%;
    padding: 0;
    max-height: 500px;
    max-width: 1000px;
}
#wrapper1 > svg {
    position: relative;
    height: 60%;
    width: 100%;
    left: 0;
    top: 0;
    max-height: 500px;
    max-width: 1000px;
}
 #wrapper2 {
    position: relative;
    height: 60%;
    width: 100%;
    padding: 0;
    max-height: 500px;
    max-width: 1000px;
}
#wrapper2 > svg {
    position: relative;
    height: 60%;
    width: 100%;
    left: 0;
    top: 0;
    max-height: 500px;
    max-width: 1000px;
}
 #wrapper3 {
    position: relative;
    height: 60%;
    width: 100%;
    padding: 0;
    max-height: 500px;
    max-width: 1000px;
}
#wrapper3 > svg {
    position: relative;
    height: 60%;
    width: 100%;
    left: 0;
    top: 0;
    max-height: 500px;
    max-width: 1000px;
}  
.links line {
  stroke: grey;
  stroke-opacity: 0.5;
}
    
.nodes circle {
  stroke: #fff;
  stroke-width: 0.5px;
}
    
.my-selector {
   text-anchor: "middle";
   background: "grey";
   font-family: "Arial";
   color: red;
   font-size: 16;     
    }    

.legend {                                                   
    font-size: 10px;
    font-family: "Montserrat", sans-serif;
}  

.rect {                                                      
    stroke-width: 2;                                          
}